
#navelist{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

}
a{
    text-decoration: none;
    color: black;
}
.goin{
    border: 3px red solid;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radios:20px ;
    -moz-border-radios:20px;
    -ms-border-radios:20px;
    -o-border-radios:20px;
  


}
#first{
    background-image: url("../media/gym.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;

}
.first2{
    width: 500px;
    padding-left: 50px;
    padding-top:100px;
    font-size: 40px;
    color: aliceblue;
}
#first{

}
.t1{
    color: aliceblue;
font-size: 30px;
}
.t2{ 
    color: red;
    font-size: 20px;


}
.t3{
    padding-bottom: 10px;
    color: aliceblue;
    font-size: 17px;
}
.ab{
    padding-top: 20px;
    font-size: 20px;
    background-color: rgba(255, 0 , 0, 0);
    border: 3px red solid;
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radios:20px ;
    -moz-border-radios:20px;
    -ms-border-radios:20px;
    -o-border-radios:20px;
}
.grid{
    color: aliceblue;
    display:grid;
    grid-template-columns:200px 200px 200px;
    column-gap: 5px;
   

}
.nom{
    color: red;
}
.v{
    border-right: 1px solid rgb(255, 252, 252);
    font-size :10px;
    text-align: center;
    list-style-type: none;
}
.a{
    font-size :10px;
    text-align: center;
    list-style-type: none;
}
.why{color: aliceblue;}
.second{
    text-align: center;
    background-color: rgb(5, 5, 5);
}
.sw{
   
    color: aliceblue;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;



}
.h1{
    color: red;

}
.h4{
    color: aliceblue;
}
.h11{
    color: aliceblue;
}
.gridi{
     border: 3px red solid;
     border-radius: 5px;
     text-align: start;
}
.for{
    color: red;
    text-align: center;
}

.app{
    color: aliceblue;
    text-align: center;
}
.gridapp{
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: 30px;
    margin-right: 30px;
    

}
body{
    background-color: black;
}
.ulli{
    color: aliceblue;
    align-items: center;
}
.try{
    color: red;
    border: 1px red solid;
    padding: 30px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: black;
}
    .mop{
       justify-self: center;
    
    
   }
.li{
    margin-bottom: 20px;
    align-items: center;
}
@media(max-width:599px) {
    
    .logo{
width: 50%;
    }
    #navelist{
        display: inherit;
        padding: 0;
        background-color: black;

    }
    .navei>a{
        color: white;

    }
    .navei{
        text-align: center;
        border: 1px red solid;
        font-size: 140%;
        padding: 5px;
    }
    .goin{
        border: 0px;
    }
    #modb{
        border-radius: 20px;
        padding: 3%;

    }
    #bch{
        border-radius: 20px;
        padding: 3%;

    }
    #first{
        padding: 0px;
    }
    .first2{
        padding: 0px;
    }
    .t1>h1{
        text-align: center;
        font-size: 80%;
    }
    #t2>h2{
        text-align: center;
        font-size: 80%;
    }
    #t3>h3{
        text-align: center;
        font-size: 80%;
    }



}