
#navelist{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
#goin{
    border: 3px red solid;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radios:20px ;
    -moz-border-radios:20px;
    -ms-border-radios:20px;
    -o-border-radios:20px;


}
#first{
    background-image: url("../media/gym.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
#first{
    padding-top: 90px;
    padding-left: 20px;
}
.t1{
    color: aliceblue;
font-size: 40px;
}
.t2{ 
    color: red;
    font-size: 35px;


}
.t3{
    padding-bottom: 40px;
    color: aliceblue;
    font-size: 17px;
}
.ab{
    padding-top: 30px;
    font-size: 20;
    color: aliceblue;
    border: 3px red solid;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radios:20px ;
    -moz-border-radios:20px;
    -ms-border-radios:20px;
    -o-border-radios:20px;
}
.grid{
    color: aliceblue;
    display:grid;
    grid-template-columns:200px 200px 200px;
    column-gap: 5px;
    

}
.nom{
    color: red;
}